node_modules
npm-debug.log
yarn-error.log
.next
out
dist
coverage
.git
.gitignore
README.md
.env
.env.*
.env.local
.vscode
.idea
Jenkinsfile
docker-compose*
.github
*.md
playwright-report
test-results
playwright/.cache
